body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 90%;
    background-color: #f6f6f6;
}
header ul > li {
    display: inline-flex;
}
header li {
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}
header a {
    text-decoration: none;
    color: #000;
}